.ex-1-square{
  transition: 2s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: 2s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition: 1s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: 2s;
}

.ex-4-square:hover{
  /* background-color: #f5f5f5 ; */
  opacity: 0;
}

.ex-5-square{
  transition: 1s;
}

.ex-5-square:hover{
  transform: scale(0.5);
}

.ex-5-square:active{
  transform: scale(2);
}

/****TRANSIZIONE ES6 NON NECESSARIA PERCHè NON RICHIESTA

/* .ex-6-img{
  transition: 2s;
} */

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: blur(20px) grayscale(100%);
  filter: contrast(1.5);
}

.ex-8-img{
  transition: 2s;
}

.ex-8-img:hover{
  border-radius: 20px;
  filter: sepia(20px) grayscale(80%);
}

.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{
  border-radius: 20px;
  filter:  grayscale(80%);
  transform: scale(1.5);
}

.ex-10-icon{
  animation-name: turn-well;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes turn-well {
  0%{
    transform: rotate(1turn);
  }
  
}

.ex-11-icon:hover{
  animation-name: turn-well;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes turn-well {
  0%{
    transform: rotate(0.7turn);
  }
  
}


.ex-12-button:hover .ex-12-top-white{
  animation-name: turn-half;
  animation-duration: 4s;
  animation-iteration-count:unset
  animation-timing-function: linear;
}

@keyframes turn-half {
  0%{
    left: 20%;
  }

  25%{
    left: 25%;
  }
  
  50%{
    left: 40%;
  }
  
  75%{
    left: 55%;
  }

  100%{
    left: 70%;
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation-name: turn-half2;
  animation-duration: 4s;
  animation-iteration-count:unset
  animation-timing-function: linear;
}

@keyframes turn-half2 {
  0%{
    right: 20%;
  }

  25%{
    right: 25%;
  }
  
  50%{
    right: 40%;
  }
  
  75%{
    right: 55%;
  }

  100%{
    right: 70%;
  }
}









